*.md linguist-language=Markdown
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.png linguist-documentation=false
*.jpg linguist-documentation=false
*.svg linguist-documentation=false

* text=auto
